<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.eska.plugin"
      version="0.1.0">
    <name>NumAdder</name>
    <description>Demo Plugin</description>
    <license>1.0.0.0</license>
    <keywords>phonegap</keywords>
 
    <js-module src="www/temp.js" name="Temp">
        <clobbers target="window.myplugin" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Temp">
                <param name="android-package" value="com.eska.plugin.NumAdder"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/NumAdder.java" target-dir="src/com/eska/plugin" />
     </platform>
</plugin>
